#jk Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Output files (your scraper output)
*.csv

# Misc
*.swp
